* {
    margin: 0;
    padding: 0;
    border: none;
}

#hero-image {
    height: 100%;
    width: 100%;
    background-image: url("pexels-karolina-grabowska-4040592.jpeg");
    background-color: blueviolet;
 
}